*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  cursor: pointer;
}

svg {
  pointer-events: none;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: local('Kumbh Sans Regular') url('/fonts/KumbhSans-Regular.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: local('Kumbh Sans Bold') url('/fonts/KumbhSans-Bold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 700;
}

:root {
  /* colors */
  --bkg: hsl(0, 0%, 100%);
  --muted: hsl(240, 5%, 91%);
  --text: hsl(237, 12%, 33%);
  --accent: hsl(14, 88%, 65%);

  /* fonts */
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 18px;

  /* spacing */
  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 6px;
  --space-lg: 10px;
  --space-xl: 16px;
  --space-xxl: 24px;

  /* radius */
  --rounded: 0.75rem;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: var(--fs-sm);
  color: var(--text);
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.wrapper {
  max-width: 650px;
  display: grid;
  gap: var(--space-xxl);
  align-items: start;
}

.icon-star {
  width: 24px;
}

[aria-expanded='true'] > .icon-arrow-down {
  transform: rotate(180deg);
}

.only-desktop {
  display: none;
}
.absolute-top {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
}

@media (min-width: 1440px) {
  .only-mobile {
    display: none;
  }
  .only-desktop {
    display: block;
  }
}
