*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  cursor: pointer;
}

svg {
  pointer-events: none;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/KumbhSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/KumbhSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

:root {
  /* colors */
  --bkg: hsl(0, 0%, 100%);
  --muted: hsl(240, 5%, 91%);
  --text: hsl(237, 12%, 33%);
  --accent: hsl(14, 88%, 65%);

  /* fonts */
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 18px;

  /* spacing */
  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 6px;
  --space-lg: 10px;
  --space-xl: 16px;
  --space-xxl: 24px;

  /* radius */
  --rounded: 0.75rem;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: var(--fs-sm);
  color: var(--text);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bkg);
  border-radius: var(--rounded);
  margin-inline: var(--space-xxl);
  padding: var(--space-xxl);
  padding-top: 0;
  position: relative;
}

@media (min-width: 1440px) {
  main {
    flex-direction: row;
    align-items: center;
    padding: var(--space-xxl);
  }
}

[aria-expanded='true'] > .icon-arrow-down {
  transform: rotate(180deg);
}

@media (max-width: 1439px) {
  .illustration {
    height: 100px;
  }
}

.illustration {
  transform: translateY(-110px);
}

@media (min-width: 1440px) {
  .illustration {
    transform: translateX(-100px);
  }
}

.illustration-image {
  position: relative;
}

.illustration-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  box-shadow: -50px 80px 4px 10px rgba(237, 202, 237, 1);
  transform: rotate(10deg);
}

.desktop {
  display: none;
}

@media (min-width: 1440px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
