---
import { getCollection } from 'astro:content';
import Accordion from '../component/Accordion.astro';
const items = await getCollection('faqs');

import '../styles/main.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Accordion</title>
  </head>
  <body>
    <h1>Astro Accordion</h1>
    <Accordion
      accordionItems={items.map(item => item.data)}
      title='FAQs'
      isFirstExpanded={true}
      isOnlyOneExpandable={true}
    />
    <Accordion
      accordionItems={items.map(item => item.data)}
      title='Unique Title'
      isFirstExpanded={false}
    />
  </body>
</html>
