---
import { getCollection } from 'astro:content';
import Accordion from '../component/Accordion.astro';

import { Icon } from 'astro-icon/components';

const items = await getCollection('faqs');

import '../styles/main.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Accordion</title>
  </head>
  <body>
    <main>
      <Icon
        name='background-pattern-desktop'
        class='only-desktop absolute-top'
      />
      <Icon name='background-pattern-mobile' class='only-mobile absolute-top' />
      <div class='wrapper'>
        <Accordion
          accordionItems={items.map(i => i.data)}
          title='FAQs'
          isFirstExpanded={true}
          isOnlyOneExpandable={true}
        />
      </div>
      <style>
        .wrapper {
          max-width: 650px;
          display: grid;
          gap: var(--space-xxl);
          align-items: start;
        }
      </style>
    </main>
  </body>
</html>
